<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="info.vividcode.android.app.preftest">

    <application>
        <!--
          `InstrumentationTestRunner` が含まれるライブラリを指定。 明示的に指定しなくても
          Android command-line tool などが、パッケージングの際に自動的に追加してくれるらしいので
          書かなくても問題はないようだが、わかりやすいように書いておく。
          See: http://developer.android.com/tools/testing/testing_android.html#InstrumentationTestRunner
         -->
        <uses-library android:name="android.test.runner" />
    </application>

    <!--
      Espresso が必要とする instrumentation の指定
      See: http://code.google.com/p/android-test-kit/wiki/Espresso#Espresso_Setup_Instructions
     -->
    <instrumentation
        android:name="com.google.android.apps.common.testing.testrunner.GoogleInstrumentationTestRunner"
        android:targetPackage="info.vividcode.android.app.preftest" />

</manifest>
